
#uploadimgbox{

    border:2px dashed #a3a3a3;
    color:#a3a3a3;
    height:200px;
    line-height: 200px;
    margin: 30px 0 0 30px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;

}

/*#uploadimgbox:after{*/

    /*content:"+";*/

/*}*/

#uploadproductform{

    padding-top: 30px;

}