

body{
    background-color: #e7e7e7;
}

header{
    background-color: #086FA1;
    color:white;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
}

/*/////////////////////////////////////////////*/

.bigheader{
    background-color: #63accf;
    color:white;
    font-size: 22px;
    padding: 5px 0 5px;
    text-align: left;
    text-indent: 22px;
    margin: 0 0 15px;
    font-weight: bold;
}

.mheader{
    background-color: #63accf;
    color:white;
    font-size: 18px;
    padding: 5px 0 5px;
    text-align: left;
    text-indent: 22px;
    margin: 0 0 15px;
    font-weight: bold;
}

.cardshadow{
    box-shadow:   0px 5px 3px 0px rgba(50, 50, 50, 0.2);
}

.cardheader{
    /*background-color: #63accf;*/
    color:black;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0 5px;
    text-align: left;
    text-indent: 12px;
}

/*/////////////////////////////////////////////*/

#menu{
    background-color: #086FA1;
}

#menubar{
    background-color: #086FA1;
    color:white;
}


#menubar li > a{
    /*text-indent: 20px;*/
    background-color: #63ADD0;
    font-size: 14px;
    color:white;
}

#menubar li > a:hover{
    /*text-indent: 20px;*/
    background-color: #abd7ff;
    color:white;
}


#menubar>.active>a{
    background-color:#e7e7e7;
    color:#000000;
}

#sidebar{
    /*background-color: white;*/
    margin-top: 20px;
}

#sidebar>ul{
    background-color: white;
    /*padding: 10px;*/
    margin-bottom: 20px;
}

#sidebar #menubrand{
    /*background-color: black;*/
    color:black;
    font-size: 18px;
    padding: 5px 0 5px;
    text-align: left;
    text-indent: 12px;
    font-weight: bold;
    /*border-bottom: 1px solid #cbcbcb;*/
}

#sidebar #login_form{
    padding: 10px 0 10px 10px;
}

#sidebar #login_form>input[type='submit']{
    margin: 10px 0 10px 0;
    width: 90px;
    background-color: #034769;
}

#sidebar>#menuside>.opt>a{
    color:#034769;
}

#typemenu{
    list-style-type: none;
    padding: 0 0 10px 0;
}

#typemenu>li:nth-child(2){
    padding-top: 10px;
}

#typemenu>li:not(#menubrand){
    margin-left: 15px;
}

#typemenu>li>ul>li{
    list-style-type: disc;
    margin-left: -15px;
}

#recom{
    background-color: white !important;
}

#sinkamai{
    height: 40px;
    line-height: 40px;
    font-size: 22px;
}

#content{
    min-height: 500px;
}

article{
    margin-left: 5px;
    background-color: transparent;
    height:auto;
    padding: 20px 0 20px 0;
}

#blog,#recom{
    height:200px;
    background-color: transparent;
}

#blog{
    height:300px;
    /*border: 1px #808080 solid;*/
    position: relative;
}

#blog>img{
    height: 150px;
    margin:10px auto;

}

#blog>#row>#detail{
    height: 120px;
    line-height: 26px;
    /*background-color: #1c1c20;*/
    color:black;
    text-align: center;
    padding-top: 10px;
}

#blog>#row>#detail>#yib{
    height: 30px;
    background-color: #FF8900;
    color:white;
    border: 0;
    /*border-bottom: 5px solid #ca6501;*/
}

#blog>#row>#detail>#yib:hover{
    height: 30px;
    background-color: #fdd30a;
    color:white;
    border: 0;
}

#doo{
    height: 60px;
    margin-bottom: 60px;
    font-size: 28px;
    background-color: #235d79;
    color:white;
    border:0;
}

footer{
    background-color: #235D79;
    height: 100px;
}
