

@font-face {
    font-family: "thaisans";
    src: url(../fonts/ThaiSansNeue-Regular.ttf),url(../fonts/ThaiSansNeue-Regular.eot);
}

@font-face {
    font-family: "robotoe";
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}

html{
    margin: 0 !important;
    padding: 0 !important;
}

body{
    font: normal  "tahoma";
    background-color: #4caad9;
    /*overflow-x: hidden;*/
    margin: 0 !important;
    padding: 0 !important;
}

a{
    cursor: pointer;
}

.cardheader, .bigheader , .medheader , .mheader , .cardbrand , #menubar a ,h1 ,h2 ,h3 ,h4 ,h5, .tilemenu{
    font-family: 'thaisans';
}

h1{
    font-size: 5em;
}
h2{
    font-size: 4em;
}
h3{
    font-size: 2.5em;
}
h4{
    font-size: 1.8em;
}

hr{
    border-color: #bbbbbb;
}

li{
    display: block;
}

.navnav>li>a{
    border-left: 4px solid transparent;
    height: 30px;
    line-height: 10px;
    padding-left: 10px;
    background-color: transparent;
}

.navnav>li>a:hover{
    background-color: #dfe7ff;
    border-left: 4px solid #4cabda;
}

.navnav>li>a.active{
    background-color: #dfe7ff;
    /*border-left: 4px solid #4cabda;*/
}


.navnav>li>.navnav>li>a{
    background-color: transparent;
    border-left: 2px solid transparent;
    padding-left: 40px;
}

.navnav>li>.navnav>li>a:hover{
    background-color: #dfe7ff;
    border-left: 2px solid #4cabda;
}

.del_blog_img{

    position: absolute;
    background-color: white;
    color:red;
    cursor: pointer;
    right: 0;
    height: 15px;
    width: 15px;
    text-align: center;
    line-height: 15px;

}

.del_blog_img:hover{
    background-color: black;
    color:white;
}


/*////////////////vvv MY LAYOUT vvv///////////////////*/

.container{
    /*width: 100% !important;*/
    min-width: 1280px !important;
    max-width: 1280px !important;
    /*margin: 0 !important;*/
    background-color: #e7e7e7;
}

@media (min-width: 769px) {
    .container {
        width: 1280px !important;
    }
}
@media (min-width: 992px) {
    .container {
        width: 1280px !important;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1280px !important;
    }
}

.blog_div_content>img{

    max-height: 500px;

}

.bluethead{
    background-color: #4cabda;
    color:white;
}

.blogpickimg{

    float: left;
    overflow: hidden;
    height: 150px;
    width: 25%;
    background-color: grey;
    position: relative;

}

.blogpickimg>img{

    min-height: 100%;
    max-height: 150%;

}

.blogpickimg:hover{

    border: 2px solid orange;

}

.bigheader{
    background-color: #4cacdb;
    color:white;
    font-size: 28px;
    padding: 5px 0 5px;
    text-align: left;
    text-indent: 22px;
    margin: 0 0 15px;
}

.medheader{
    background-color: #ffffff;
    color: #4cacdb;
    font-size: 24px;
    padding: 5px 0 5px;
    text-align: left;
    text-indent: 22px;
}

.card{
    background-color: white;
    box-shadow:   0 5px 3px 0 rgba(50, 50, 50, 0.2);
    padding: 0 12px 12px 12px;
}

.cardshadow{
    box-shadow: 0 5px 3px 0 rgba(50, 50, 50, 0.2);
}

.cardheader{
    /*background-color: #63accf;*/
    color:black;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0 5px;
    text-align: left;
    text-indent: 12px;
}

.cardbrand{
    font-size: 24px;
    padding: 2px 0 4px;
    border-bottom: 1px solid rgba(50, 50, 50, 0.2);
    margin-bottom: 10px;
}

.margintop{
    margin-top: 20px;
}

.marginbot{
    margin-bottom: 20px;
}

.btn{
    border-radius:  0 0 0 0 !important;
}

.whitebutton{
    border: 1px solid #4cacdb;
    background-color: white;
    color: #4cacdb;
    transition: all 0.3s ease-in-out;
}

.whitebutton:hover{
    border: 1px solid #4788b7;
    color: #4cacdb;
    background-color: #e7e7e7;
}

.bluebutton{
    color:white;
    background-color: #4cacdb;
}

.bluebutton:hover{
    color:white;
    background-color: #4788b7;
    transition: all 0.3s ease-in-out;
}

.yellowbutton{
    color:white;
    background-color: #f6c21b;
}

.yellowbutton:hover{
    color:white;
    background-color: #d05426;
    transition: all 0.3s ease-in-out;
}

.affix{
    top:0;
    margin-top: 10px;
}

select:focus{
    outline: 0;
}

.form-control{
    border: 1px solid #4cabda;
}

.form-control:focus{
    box-shadow: none;
    border: 2px solid #4cabda;
    transition: all 0s;
}


#productheader{
    background-color: white;
}

.thumbnail{
    border-radius: 0 0 0 0 !important;
    padding: 0;
    height: 400px;
    position: relative;
}

.thumbnail>.limit_img{
    height: 240px;
    overflow: hidden;
    position: relative;
    background-color: #c6dfff;
    /*white-space: nowrap;*/
}


.thumbnail>.limit_img>img{

    max-width: 100%;
    height: auto;
    max-height: 240px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

}

.modal-content{
    border-radius: 0;
}

.modal-header, .modal-body, .modal-footer{
    border:0;
}

.form-in-modal{
    line-height: 8px;
}

.form-control{
    border-radius:0;
}

.text-overflow{
    /*padding: 0 0 0 3px ;*/
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.close-sm{
    font-size: 18px;
}

.list-group-item{
    border-radius: 0 !important;
    background-color: #f4f4f4;
    border:1px solid #afafaf;
}

.list-none-type{
    list-style-type: none;
}

.list-disc-type{
    list-style-type: disc;
}

#uploadimgbox{

    border:2px dashed #a3a3a3;
    color:#a3a3a3;
    height:200px;
    line-height: 200px;
    margin: 30px 0 0 30px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;

}

#uploadproductform{

    padding-top: 30px;

}

.text-grey{
    color:#b6b6b6;
}

.tilemenu{
    height: 50px;
    line-height: 50px;
    background-color: #bababa;
    color: white;
    text-align: center;
    border: 1px #ffffff solid;
    font-size: 1.5em;
    transition: .2s all ease;
}

.tilemenu:hover{
    text-decoration: none;
    color:white;
    background-color: #4cabda;
}

/*////////////////^^^ MY LAYOUT ^^^///////////////////*/

.min1300{
    min-width: 1280px !important;
}

header{
    /*background-color: #086FA1;*/
    background-color: #4db7e6;
    color:white;
    height: 70px;
    line-height: 65px;
    font-size: 30px;
}


#menu{
    /*background-color: #086FA1;*/
    background-color: transparent;
}

#menubar{
    background-color: #086FA1;
    color:white;
    text-align: center;
    height: 50px;
}

#menubar a{
    background-color: #4cacdb;
    font-size: 1.6em;
    color:white;
    transition: all 0.3s ease;
    float: left;
    width: 14.28%;
    height: 50px;
    line-height: 50px;

}

#menubar a:hover{
    background-color: #4788b7;
    text-decoration: none;
    color:white;
}

#menubar a.active, #menubar a.active:hover{
    background-color:#e7e7e7;
    color:#000000;
    transition: all .5s ease-in-out;
}

#content{
    min-height: 400px;
    margin-top: 20px;
}

footer{

    z-index: -2;
    margin: 0;
    background-color: #4cabda;
    height: 150px;
    width:100%;

}

.footer-content{
    color:white;
    margin-bottom: 20px;
}

.footer-content a {
    color:white;
}

.footer-content ul {
    list-style-type: disc;
}

.footer-content li {
    display: list-item;
}



.basket_list{
    height: 40px;
    line-height: 40px;
    background-color: #f4f4f4;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #afafaf;
    white-space: nowrap;
    overflow: hidden;
}

.basket_list:not(:first-child){
    height: 40px;
    background-color: #f4f4f4;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #afafaf;
}

a.badge{
    border-radius: 0;
    padding: 6px;
    background-color: cornflowerblue;
}

.badge-red{
    background-color: #c61c3c !important;
}

.modal-title{
    background-color: #4cabda;
    color:white;
    margin: -15px -15px 15px -15px;
    padding: 15px;
}
