
header{
    background-color: #086FA1;
    color:white;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
}

#menu{
    background-color: #086FA1;
}

#menubar{
    background-color: #086FA1;
    color:white;
}


#menubar li > a{
    /*text-indent: 20px;*/
    background-color: #63ADD0;
    font-size: 14px;
    color:white;
}

#menubar li > a:hover{
    /*text-indent: 20px;*/
    background-color: #abd7ff;
    color:white;
}


#menubar>.active>a{
    background-color:white;
    color:cornflowerblue;
}

#menubrand{
    text-align: center;
    font-size: 20px;
    border-bottom: 5px solid #032a41;
}

#sidebar{
    background-color: #63ADD0;
    margin-top: 20px;
}

#sidebar #menubrand{
    background-color: #034769;
    color:white;
    font-size: 15px;
}

#sidebar #login_form{
    padding: 10px 0 10px 10px;
}

#sidebar #login_form>input[type='submit']{
    margin: 10px 0 10px 0;
    width: 90px;
    background-color: #034769;
}

#sidebar>#menuside>.opt>a{
    color:white;
}

#recom{
    background-color: white;
}

#sinkamai{
    height: 30px;
    line-height: 30px;
    color:white;
    background-color: #034769;
    font-size: 18px;
    /*border-width: 0 20px 0 20px;*/
    /*border-color:white;*/
    /*border-style:solid;*/
    border-bottom: 5px solid #032c43;

}

#content{
    min-height: 500px;
}

article{
    margin-left: 5px;
    background-color: transparent;
    height:auto;
}

#blog,#recom{
    height:200px;
    background-color: transparent;
}

#blog{
    height:300px;
    /*border: 1px #808080 solid;*/
    position: relative;
}

#blog>img{
    height: 150px;
    margin:10px auto;

}

#blog>#row>#detail{
    height: 120px;
    line-height: 26px;
    /*background-color: #1c1c20;*/
    color:black;
    text-align: center;
    padding-top: 10px;
}

#blog>#row>#detail>#yib{
    height: 30px;
    background-color: #FF8900;
    color:white;
    border: 0;
    border-bottom: 5px solid #ca6501;
}

#blog>#row>#detail>#yib:hover{
    height: 30px;
    background-color: #fdd30a;
    color:white;
    border: 0;
    border-bottom: 5px solid #cfaa0a;
}

#doo{
    height: 60px;
    margin-bottom: 60px;
    font-size: 28px;
    background-color: #235d79;
    color:white;
    border:0;
    border-bottom: 8px solid #193c51;
}

footer{
    background-color: #235D79;
    height: 100px;
}
